<div class="container">
  <div class="home-owners-bookings">
    <div class="row">
      <div class="list-box text-center mt-1 mb-3">
        <h2 class="caption text-center">Please check out your pending requests!</h2>
      </div>
      <div class="card-booking" style="width: 100%;">
        <div class="" style="width: 100%;">
          <ul class="list-unstyled">
            <% @bookings_owner.each do |booking| %>
              <li>
                <div class="d-flex align-items-center justify-content-around">
                  <h2><%= booking.buoy.name %></h2>
                  <div>
                    <p>Status: <%= booking.status %></p>
                  </div>
                  <div class="buttons d-flex">
                    <%= link_to "Confirm" , confirm_booking_path(booking), method: :put, class: "btn btn-success margin-btn" %>
                    <%= link_to "Reject" , reject_booking_path(booking), method: :put, class: "btn btn-danger margin-btn" %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="home-renter-bookings">
    <div class="row">
      <div class="list-box text-center mt-5 mb-3" style="width: 100%;">
        <h2 class="caption text-center"> Your own reservations:</h2>
      </div>
      <div class="card-booking" style="width: 100%;">
        <div class="" style="width: 100%;">
          <ul class="list-unstyled">
            <% @bookings.each do |booking| %>
              <li>
                  <div class="d-flex align-items-center justify-content-around">
                    <h2><%= booking.buoy.name %></h2>
                      <p>Status: <%= booking.status %></p>
                      <p>Start date: <%= booking.start_date %></p>
                      <p>End date: <%= booking.end_date %></p>
                      <p>Booking ID: <%= booking.id %></p>
                  </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




