<div class="container">

  <div class="nav row nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="col-12 col-md-6 nav-link active" id="v-pills-request-tab" data-toggle="pill" href="#v-pills-request" role="tab" aria-controls="v-pills-request" aria-selected="true">My bookings</a>
    <a class="col-12 col-md-6 nav-link" id="v-pills-booking-tab" data-toggle="pill" href="#v-pills-booking" role="tab" aria-controls="v-pills-booking" aria-selected="false">My pending requests</a>
  </div>

  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade" id="v-pills-booking" role="tabpanel" aria-labelledby="v-pills-booking-tab">
      
      <div class="text-center mt-5 mb-2" style="width: 100%;">
        <h2>You have pending requests to confirm, or not...</h2>
      </div>

      <div class="card-booking">
        <% pendings = @bookings.map do |booking| %>
          <% booking.status == "Pending" %>
        <% end %>
        <% if pendings.include?(true) %>

          <table width=100%>
            <tr class="text-center">
              <th>Buoy name</th>
              <th>Photo</th>
              <th>Status</th>
              <th>From</th>
              <th>To</th>
              <th>Price</th>
            </tr>
            <% @bookings_owner.each do |booking| %>
              <tr class="text-center">
                <td><%= booking.buoy.name %></td>
                <td><%= cl_image_tag booking.buoy.photo, width: 50, height: 50, crop: :thumb, radius: 'max', gravity: 'auto' %></td>
                <td><%= booking.status %></td>
                <td><%= booking.start_date %></td>
                <td><%= booking.end_date %></td>
                <td><%= (booking.end_date - booking.start_date).to_i * booking.buoy.price %>,00 €</td>
                <td>
                  <div class="d-flex justify-content-center">
                    <%= link_to "Confirm" , confirm_booking_path(booking), method: :put, class: "btn btn-success margin-btn btn-radius" %>
                    <%= link_to "Reject" , reject_booking_path(booking), method: :put, class: "btn btn-danger btn-radius" %>
                  </div>
                </td>
                </div> 
              </tr> 
            <% end %> 
          </table>

        <% else %>
          <div class="text-center w-100">
            <p><i>Oops, you don't have any request for the moment...</i></p>
            <p><i>Don't hesitate to add more buoys!</i></p>
            <%= link_to "Add a&nbsp;&nbsp;<i class='far fa-life-ring'></i>".html_safe, new_buoy_path, class: "btn btn-success btn-radius" %>
          </div>
        <% end %>

      </div>
    </div>

    <div class="tab-pane fade show active" id="v-pills-request" role="tabpanel" aria-labelledby="v-pills-request-tab">
    
      <div class="text-center mt-5 mb-2" style="width: 100%;">
        <h2> Your own reservations:</h2>
      </div>
      <div class="card-booking">
        <% if @bookings.empty? %>
          <div class="text-center w-100">
            <p><i>Oops, you don't have any reservation for the moment...</i></p>
            <p><i>Don't hesitate to take a look at our buoys!</i></p>
            <%= link_to "See all &nbsp;&nbsp;<i class='far fa-life-ring'></i>".html_safe, buoys_path, class: "btn btn-success btn-radius" %>
          </div>
        <% else %>
          <table width=100%>
            <tr class="text-center">
              <th>Buoy name</th>
              <th>Photo</th>
              <th>Status</th>
              <th>From</th>
              <th>To</th>
              <th>Price</th>
            </tr>
              <% @bookings.each do |booking| %>
                <tr class="text-center">
                  <td><%= booking.buoy.name %></td>
                  <td><%= cl_image_tag booking.buoy.photo, width: 50, height: 50, crop: :thumb, radius: 'max', gravity: 'auto' %></td>
                  <td><%= booking.status %></td>
                  <td><%= booking.start_date %></td>
                  <td><%= booking.end_date %></td>
                  <td><%= (booking.end_date - booking.start_date).to_i * booking.buoy.price %>,00 €</td>
                  <% if booking.end_date < Date.today %>
                    <td>
                    <%= link_to "Rate", new_booking_review_path(booking), { class: "btn btn-success btn-radius"} %>
                    </td>
                  <% end %>
                </tr> 
              <% end %>
          </table>
        <% end %>
      </div>

    </div>

  </div>

</div>




