
    <footer class="footer-distributed">

      <div class="footer-left">

        <img src="https://png.pngtree.com/svg/20170629/34d636389e.svg
" alt="Buoy Logo">
        <p class="footer-links">

          <%= link_to "Home", buoys_path %>
          ·
          <%= link_to "Pricing", "https://i.imgflip.com/1li576.jpg" %>
          ·
          <%= link_to "Careers", "https://candidat.pole-emploi.fr/informations/recherche" %>
          ·
          <%= link_to "About", "https://www.merriam-webster.com/dictionary/buoy" %>
          ·
          <%= link_to "FAQ", "https://fr.wikipedia.org/wiki/Foire_aux_questions" %>
          ·
          <%= link_to "Contact", "https://www.pagesjaunes.fr/" %>
        </p>

        <p class="footer-company-name">BookaBuoy &copy; 2019</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fas fa-map-marker-alt"></i>
          <p><span>16 Villa Gaudelet </span> Paris, France</p>
        </div>

        <div>
           <i class="fas fa-phone"></i>
          <p>+33 1 23 45 67 89</p>
        </div>

        <div>
          <i class="fas fa-at"></i>
          <p><a href="mailto:support@company.com">teamdeouf@bookabuoy.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the company</span>
          Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p>

        <div class="footer-icons">

          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>

        </div>

      </div>

    </footer>

  </body>

</html>
