
    <footer class="footer-distributed">

      <div class="footer-left">
        <%= image_tag("logo.png") %>

        <p class="footer-links">

          <%= link_to "Home", buoys_path %>
          ·
          <%= link_to "Pricing", "https://i.imgflip.com/1li576.jpg", target:"_blank"  %>
          ·
          <%= link_to "Careers", "https://candidat.pole-emploi.fr/informations/recherche", target:"_blank"  %>
          ·
          <%= link_to "About", "https://www.merriam-webster.com/dictionary/buoy", target:"_blank"  %>
          ·
          <%= link_to "FAQ", "https://fr.wikipedia.org/wiki/Foire_aux_questions", target:"_blank"  %>
          ·
          <%= link_to "Contact", "https://www.pagesjaunes.fr/", target:"_blank"  %>
        </p>

        <p class="footer-company-name">BookaBuoy &copy; 2019</p>
      </div>

      <div class="footer-center">

    <div class="middle">

      <div class="middle-part d-flex align-items-center">
        <div class="justify-content-center mr-1">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <div>
          <p>16 Villa Gaudelet, Paris FR</p>
        </div>
      </div>

      <div class="middle-part d-flex align-items-center">
        <div class="justify-content-center">
          <i class="fas fa-phone"></i>
        </div>
        <div>
          <p>+33 1 23 45 67 89</p>
        </div>
      </div>

      <div class="middle-part d-flex align-items-center">
        <div class="justify-content-center">
          <i class="fas fa-at"></i>
        </div>
        <div>
          <p><a href="mailto:support@company.com">teamdeouf@bookabuoy.com</a></p>
        </div>
      </div>
    </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the company</span>
         Group of childhood friends, we went for an holiday in Marrakech in a beautiful villa, in front of which we had an awesome pool only for us. The only problem was: as lazy as we are, we soon felt bored at the pool. Buoys were nowhere to be found. That's how we got this idea of renting the most awesome buoys across the globe !
        </p>

        <div class="footer-icons">

          <%= link_to "<i class='fab fa-facebook-f'></i>".html_safe, "https://www.facebook.com/", target:"_blank"  %>

          <%= link_to "<i class='fab fa-twitter'></i>".html_safe, "https://twitter.com/", target:"_blank"  %>

          <%= link_to "<i class='fab fa-linkedin'></i>".html_safe, "https://fr.linkedin.com/", target:"_blank"  %>

          <%= link_to "<i class='fab fa-github'></i>".html_safe, "https://github.com/", target:"_blank" %>

        </div>

      </div>

    </footer>

  </body>

</html>
