<div class="popup">
  <%= link_to buoy_path(buoy) do %>
    <%= cl_image_tag(buoy.photo, width: 180, :radius=>"10", gravity: "auto", crop: :fill) %>
    <div class="popup-description">
      <h3><%= buoy.name  %></h3>
      <h5><%= buoy.address  %></h5>
      <div class="d-flex justify-content-around">
        <p><i class="fas fa-paperclip"></i>  <%= buoy.category %></p>
        <p><i class="fas fa-ruler-combined">  </i><%= buoy.size  %></p>
        <p><i class="fas fa-tag"></i>  <%= buoy.price %>€</p>
      </div>
      <p>
        <%= buoy.description %>
      </p>
    </div>
  <% end %>
</div>