<body style="background-color: white;">

  <div class="home-banner">
    <div>
      <h2>Bored at the pool ? Don't forget the most important tool!</h2>
      <h1>Book a Buoy! </h1>

      <div class="search-form row justify-content-center">
        <div class="col-9 pr-0">
          <%= form_tag buoys_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control input-search",
              placeholder: "Find your buoy"
            %>
        </div>
        <div class="col-3 pl-0 text-left">
          <%= submit_tag 'Search', class: "form-submit btn btn-search" %>
          <% end %>
        </div>
      </div>



    </div>
  </div>

  <div class="container pt-4">
    <h2 class="caption text-center"> Find the perfect buoy next door...</h2>
      <div class="row">
        <% @buoys.each do |buoy| %>
          <div class="col-12 col-lg-4 col-md-6 col-sm-12">
            <div class="card-product" style="background-image: url('<%= cl_image_path buoy.photo, height: 300, width: 400, crop: :fill %>')">
              <% if buoy.user == current_user %>
                <div id="owner-tag">
                    <i class="fas fa-crown"></i> Me
                </div>
              <% end %>
              <div class="card-product-description">
                <h3><%= buoy.name %></h3>
                <h5><%= truncate(buoy.description, length: 40) %></h5>
                <div class="d-flex justify-content-around">
                  <p><i class="fas fa-paperclip"></i><%= buoy.category %></p>
                  <p><i class="fas fa-ruler-combined"></i><%= buoy.size %></p>
                  <p><i class="fas fa-tag"></i><%= buoy.price %>€</p>
                </div>
                <p>
                  <%= buoy.address.split(',')[1] %>
                </p>
                  <%= link_to buoy_path(buoy) do %>
                  <button class="btn-book btn btn-success btn-radius">Choose me</button>
                  <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

  <h2 class="caption text-center">... or all around the world!</h2>
    <div class="main-map mt-5">
      <div
        id="map"
        style="width: 100%;
        height: 400px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</body>
