<div class="container">
  <div class="form-container-large">
    <h1>Add a buoy</h1>
      <%= simple_form_for @buoy do |f| %>
        <%= f.input :name %>
        <%= f.input :color %>
        <%= f.input :size, collection: Buoy::SIZE %>
        <%= f.input :category, collection: Buoy::CATEGORY %>
        <%= f.input :photo %>
        <%= f.input :price %>
        <%= f.input :address %>
        <%= f.input :description %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "Create a buoy !", class: "btn btn-success" %>
      <% end %>
  </div>    
</div>
