<div class="container">
  <h2 class="caption p-3">All you need to know about this buoy, <%= @buoy.name %>:</h2>
  <div class="card-buoy-container justify-content-between">
    <div class="row">
      <div class="card-buoy col-sm-12 col-md-12 col-lg-7 col-xl-7">
        <%= cl_image_tag @buoy.photo, height: 400, crop: :fill %>
        <div class="card-buoy-description align-items-center">
          <h3><%= @buoy.name  %></h3>
          <div class="d-flex justify-content-around">
            <p><i class="fas fa-paperclip"></i><%= @buoy.category %></p>
            <p><i class="fas fa-ruler-combined"></i><%= @buoy.size  %></p>
            <p><i class="fas fa-tag"></i><%= @buoy.price %>€</p>
          </div>
          <p> <%= @buoy.description %> </p>
        </div>
      </div>

      <div class="card-buoy-map col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <h2 class="caption p-3">Localize & Book the buoy:</h2>
        <div class="card-buoy-address">
          <p><%= @buoy.address %></p>
        </div>
        <div
          id="map"
          style="width: 100%;
          height: 45vh;"
          data-markers="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        >
        </div>
        <div class="form-container-small d-flex justify-content-around">
          <%= simple_form_for [@buoy, @booking] do |f| %>
            <%= f.input :start_date, as: :string, label:false, required: true, placeholder:"Choose your dates here !", include_blank: false, input_html: { id: "range_start" } %>
            <%= f.submit "Book it!", class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="reviews">
    <% sum = 0 %>
    <% @reviews.each do |review| %>
      <% sum += review.rating %>
    <% end %>
    <% if @reviews.size != 0 %>
      <% avg = sum / @reviews.size %>
      <h2 class="caption p-3"> <%= @buoy.name %> is rated
      <% avg.round.times do  %>
        <span class="star-full"><%= "<i class='fas fa-star'></i>".html_safe %></span>
      <% end %>
      <% (5 - avg.round).times do  %>
       <span class="star-empty"> <%= "<i class='far fa-star'></i>".html_safe %></span>
      <% end %>
      <br>Read its reviews:</h2>
        <div class="card-buoy-map col-sm-12 col-md-12 col-lg-7 col-xl-7">
          <% @reviews.each do |review| %>
            <p> <i>" <%= review.content %> "</i> </p>
            <p>  <% review.rating.round.times do  %>
              <span class="star-full"> <%= "<i class='fas fa-star'></i>".html_safe %> </span>
           <% end %>
      <% (5 - review.rating.round).times do  %>
       <span class="star-empty"> <%= "<i class='far fa-star'></i>".html_safe %></span>
      <% end %>  </p>
            <hr>
          <% end %>
        </div>
    <% else %>
      <h2 class="caption p-3"> <%= @buoy.name %> is not rated yet :( </h2>
      <div class="row">
        <div class="card-buoy-map col-sm-12 col-md-12 col-lg-7 col-xl-7">
          <p>Do you want to be the first reviewer for this buoy?</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
