<div class="container">
 <div>
    <h1><%= @buoy.name %></h1>
    <p><%= @buoy.description %></p>
  </div>

  <div>
    <%= simple_form_for [@buoy, @booking] do |f| %>
      <%= f.input_field :user_id, value: current_user, type:"hidden" %>
      <%= f.input_field :buoy_id, value: @buoy, type:"hidden" %>
      <%= f.input :start_date, as: :date, html5: true %>
      <%= f.input :end_date, as: :date, html5: true %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
